.heading{
  background-color: whitesmoke !important;
  color: black !important;
  font-style: italic;
  font-weight:bolder;
}
.loginPanelbody{
  background-color: snow !important;
}

.loginPanel{
  opacity: 0.1;

}
